<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fanlar</title>
</head>
<body>
<h1>Fanlar</h1>
<hr>

<form method="post">
    {% csrf_token %}
    <input type="text" name="nom" placeholder="nom..."><br>
    <input type="radio" name="asosiy"><br>
    <select name="yonalish">
        {% for yonalish in yonalishlar %}
        <option value="{{ yonalish.id }}">{{ yonalish.nom }}</option>
        {% endfor %}
    </select>
    <button>Saqlash</button>
</form>

<hr>

<form>
    <input type="text" placeholder="Qidirish..." name="search" {% if search %} value="{{ search }}" {% endif %}>
    <button>Qidirish</button>
</form>
{% for fan in fanlar %}
<p>{{ forloop.counter }}. {{ fan.nom }}</p>
<button><a href="/fanlar/{{ fan.id }}">ochirish</a></button>
<button><a href="/fanlar/{{ fan.id }}/edit">Tahrirlash</a></button>
{% endfor %}
</body>
</html>