<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Yonalishlar royhati</h1>

<hr>
<br>
<button><a href="/yonalishlar/create">Yangi fan qoshish</a></button>
<br>
<form method="post">
    {% csrf_token %}
    <input type="text" name="nom" placeholder="nom..."><br>
    <input type="radio" name="aktiv"><br>
    <button>Saqlash</button>
</form>
<hr>
{% for yonalish in yonalishlar %}
<p>{{ forloop.counter }}. {{ yonalish.nom }}</p>
<a href="/yonalishlar/{{ yonalish.id }}"><button>OCHIRISH</button></a>
<button><a href="/yonalishlar/{{ yonalish.id }}/edit">Tahrirlash</a></button>
{% endfor %}
</body>
</html>